*{
	box-sizing: border-box;
	margin: 0px
	padding:0px;
}
@media screen and (max-width: 375px){
.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
	.botton-menu3{
		display: none;
	}
	.menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 13px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 27px;
    position: fixed;
    position: center;
    text-transform: uppercase;
}
.botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
line-height: 3em;
padding-left: 12px;
padding-right: 12px;
float: center;
margin-left: 3px;
margin-right: 3px;

}
	.menuescritorio li{
 display: flex;
}
.menuescritorio ul{
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #B86F7C;
    margin: 0px;
    padding: 0px;
}
	.volver{
	float: right;
	top: 0px;
	margin-top: 0px;
	padding: 10px;
	padding-top: px;
	font-family:  Julius Sans One;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #EDC9C4;

}
	}
body{
	margin: 0px;
	padding:0px;
	
}
h1{
	font-family: Julius Sans One;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 42px;
	color: #DE8796;
	margin-bottom: 15px;
	position: center;

}
h2{
	font-family: Questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #7D4C54;
	margin-left: 15px;
	margin-right: 15px;
}
h3{
	margin-left: 15px;
	margin-top: 53px;
	font-family: Questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 30px;
	color: #DE8796;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
h4{
	position: center;
	font-family: questrial;
	font-size: 20px;
	color: #DE8796;
	text-decoration: none;
}
h5{
	margin-left: 15px;
	padding-top: 0px;
	margin-top: 1px;
	margin-right: 10%;
	font-family: Questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	color: #7D4C54;
}
h6{
	text-align: left;
	font-family: questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 16px;
	color: #000000;
	margin-left: 15px;
	margin-right: 20%;
}
.menu ul{
top: 40%;
font-family: Questrial;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
display: inline;
color: #B86F7C;

}
.menu li{
 display: inline;
padding: 4px; 
 line-height: 0.7em; 
 position: center
}

.menu ul:hover{
  color:#B86F7C;
}


a{
	color:#B86F7C;
	text-decoration: none;
	display: block;
}
head{
margin: 0px;

}
.image-home{
	background:url();
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height:auto;
	top: 0px;
}
.title-container{
	padding-top: 40px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	float: center;

}
.subtitle{
	color: #7D4C54;
	font-family: Julius Sans One;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	float: center;
	text-align: center;	

}
.menu {
	margin-top: 30px;
display: inline;
line-height: 1.2em;
text-align: center;
width: 70%;

}
.botton-menu{
	background-color: #EDC9C4;
	padding: 25px;
	margin-right: 10%;
	margin-left: 10%;
	height: 25px;
	position: center;
	width: 70%;

}
.list-proyectos, .list-travesias,{
	margin-top: 80px;
	text-align: center;
	line-height: 8em;

}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	background-color: rgba(0, 0, 0, 0.4);
	color: #B86F7C;
	text-align: center;
	line-height: 8em;

}
.asi-image{
	background: url(images/1.jpg);
	width: 100%;
	background-size: cover;
	height: auto;

}
.haiku-image{
	background: url(images/2.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.newen-image{
	background: url(images/3.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.subito-image{
	background: url(images/4.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.grabados-image{
	background: url(images/5.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.analoga-image{
	background: url(images/6.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.paildad-image{
	background: url(images/7.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.ouro-image{
	background: url(images/8.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.montevideo-image{
	background: url(images/9.jpg);
	width: 100%;
	background-size: cover;
	height: auto;
}
.ingrid-image{
	background: url(images/10.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
}
.simple1{
	background: url(images/11.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple2{
	background: url(images/12.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple3{
	background: url(images/13.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple4{
	background: url(images/14.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple5{
	background: url(images/15.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple6{
	background: url(images/16.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple7{
	background: url(images/17.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku1{
	background: url(images/18.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku2{
	background: url(images/19.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku3{
	background: url(images/20.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku4{
	background: url(images/21.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku5{
	background: url(images/22.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku6{
	background: url(images/23.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku7{
	background: url(images/24.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.newen1{
	background: url(images/25.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.newen2{
	background: url(images/26.jpg);
	width: 100%;
	background-size: cover;
	height: 180px;
	margin-bottom: 5px;
}
.newen3{
	background: url(images/27.jpg);
	width: 100%;
	background-size: cover;
	height: 180px;
	margin-bottom: 5px;
	float: center
}
.newen4{
	background: url(images/28.jpg);
	width: 100%;
	background-size: cover;
	height: 180px;
	margin-bottom: 5px;
}
.subito1{
	background: url(images/29.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito2{
	background: url(images/30.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito3{
	background: url(images/31.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito4{
	background: url(images/32.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito5{
	background: url(images/33.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito6{
	background: url(images/34.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito7{
	background: url(images/35.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado1{
	background: url(images/36.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado2{
	background: url(images/37.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado3{
	background: url(images/38.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado4{
	background: url(images/39.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado5{
	background: url(images/40.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado6{
	background: url(images/41.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado7{
	background: url(images/42.jpg);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.analoga1{
	background: url(images/43.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga2{
	background: url(images/44.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga3{
	background: url(images/45.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga4{
	background: url(images/46.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga5{
	background: url(images/47.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga6{
	background: url(images/48.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga7{
	background: url(images/49.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad1{
	background: url(images/50.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad2{
	background: url(images/51.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad3{
	background: url(images/52.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad4{
	background: url(images/53.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad5{
	background: url(images/54.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad6{
	background: url(images/55.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad7{
	background: url(images/56.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo1{
    background: url(images/57.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo2{
    background: url(images/58.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo3{
    background: url(images/59.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo4{
    background: url(images/60.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo5{
    background: url(images/61.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo6{
    background: url(images/62.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo7{
    background: url(images/63.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo8{
    background: url(images/64.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro1{
	background: url(images/65.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro2{
	background: url(images/66.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro3{
	background: url(images/67.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro4{
	background: url(images/68.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro5{
	background: url(images/69.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro6{
	background: url(images/70.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro7{
	background: url(images/71.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro8{
	background: url(images/72.jpg);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
input{
	width: 80%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc,
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 20px;
	margin-bottom: 10px;
	position: center;
	margin-left: 15px;


}
textarea{
	width: 80%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	position: center;
	margin-left: 15px;
}
.respuesta{
	width: 70%;
	font-family: questrial;
	font-size: 30px;
	text-align: center;
	color: #DE8796;
}
.respuesta1{
	width: 70%;
	font-family: questrial;
	font-size: 24px;
	text-align: center;
	color: #DE8796;
}

@media screen and (max-width: 500px) and (min-width: 376px){
.menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 13px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 35px;
    position: fixed;
    position: center;
    text-transform: uppercase;
}
.botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
line-height: 3em;
padding-left: 4px;
padding-right: 4px;
float: center;
margin-left: 10px;
margin-right: 10px;
text-align: center;

}
	.menuescritorio li{
 display: flex;
 text-align: center;
}
.menuescritorio ul{
	text-align: center;
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #B86F7C;
    margin: 0px;
    padding: 0px;
}
.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
.image-home{
	background-position: center;
	background-repeat: no-repeat;
	width: auto;
	height:auto;
	top: 0px;
}
h1{
	font-size: 50px;
}
.subtitle{
	font-size: 26px;
	}
ul{
top: 45%;
font-size: 20px;
}
.newen1{
	height: 270px;
	margin-bottom: 5px;
}
.newen2, .newen3, .newen4{
	height: 230px;
	margin-bottom: 5px;
}
.analoga1, .analoga2, .analoga3, .analoga4, .analoga5, .analoga6, .analoga7{
	height: 240px;
	margin-bottom: 5px;
}

.paildad1, .paildad2, .paildad3, .paildad4, .paildad5, .paildad6, .paildad7{
	height: 240px;
	margin-bottom: 5px;
}
.montevideo1, .montevideo2, .montevideo3, .montevideo4, .montevideo5, .montevideo6, .montevideo7, .montevideo8{
	height: 240px;
	margin-bottom: 5px;
}
.ouro1, .ouro2, .ouro3, .ouro4, .ouro5, .ouro6, .ouro7, .ouro8{
	height: 240px;
	margin-bottom: 5px;
}
.ingrid-image{
	height: 280px;
}
.list-proyectos, .list-travesias,{
	line-height: 8.5em;
}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 8.5em;
}
}
@media screen and (max-width: 700px) and (min-width: 501px){
.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
.menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 15px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 35px;
    position: fixed;
    position: center;
    text-transform: uppercase;
}
.botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
line-height: 3em;
padding-left: 9px;
padding-right: 9px;
float: center;
margin-left: 10px;
margin-right: 10px;
text-align: center;

}
	.menuescritorio li{
 display: flex;
 text-align: center;
}
.menuescritorio ul{
	text-align: center;
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    color: #B86F7C;
    margin: 0px;
    padding: 0px;
}
.simple1, .simple2, .simple3, .simple4, .simple5, .simple6, .simple7{
	height: 330px;
}
.haiku1, .haiku2, .haiku3, .haiku4, .haiku5, .haiku6, .haiku7{
	height: 330px;
}
.newen1, .newen2, .newen3, .newen4, .newen5, .newen6, .newen7{
	height: 330px;
}
.subito1, .subito2, .subito3, .subito4, .subito5, .subito6, .subito7{
	height: 330px;
}
.grabado1, .grabado2, .grabado3, .grabado4, .grabado5, .grabado6, .grabado7{
	height: 330px;
}
.analoga1, .analoga2, .analoga3, .analoga4, .analoga5, .analoga6, .analoga7{
	height: 350px;
}
.paildad1, .paildad2, .paildad3, .paildad4, .paildad5, .paildad6, .paildad7{
	height: 350px;
}
.montevideo1, .montevideo2, .montevideo3, .montevideo4, .montevideo5, .montevideo6, .montevideo7, .montevideo8{
	height: 350px;
}
.ouro1, .ouro2, .ouro3, .ouro4, .ouro5, .ouro6, .ouro7, .ouro8{
	height: 350px;
}
.ingrid-image{
		height: 380px;
		width: 100%;
	}
	h1{
	font-size: 58px;
}
.subtitle{
	font-size: 29px;
	}
	h3{
		margin-left: 20px;
}
h2{
	font-size: 26px;
	margin-left: 20px;
	margin-right: 20px;
}
h6{
	margin-right: 35%;
}
ul{
	font-size: 25px;
}
.list-proyectos, .list-travesias,{
	line-height: 11em;
}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 11em;
}
}
@media screen and (max-width: 1000px) and (min-width: 701px){
	body{
		margin-right: 5%
		margin-left: 5%;
		margin-top: 15%;
	}

.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
	.newen1{
		height: 370px;
	}
	.newen2, .newen3, .newen4{
		height: 200px;
	}
		.ingrid-image{
		height: 430px;
		width: 100%;
		margin-top: 20px;
	}
h1{
	font-size: 65px;
}
.subtitle{
	font-size: 35px;
	}
	h6{
	    font-size: 22px;

	}
	h3{
	    font-size: 38px;

	}
	h2{
		font-size: 36x;
	}
	ul{
	font-size: 35px;
}
	.list-proyectos, .list-travesias,{
	line-height: 13em;
	width: 40%;
	display: inline;
	position: relative;

}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 13em;
	width: 100%;
}
.column1{
	width: 47%;
	float: left;
	margin-left: 15px;

}
.column2{
	width: 47%;
	float: right;
	margin-right: 15px;
}
.column3{
	margin-left: 20px;
	margin-right: 20px;
}
	.simple1, .simple2, .simple3, .simple4, .simple5, .simple6, .simple7{
	height: 330px;
}
.haiku1, .haiku2, .haiku3, .haiku4, .haiku5, .haiku6, .haiku7{
	height: 330px;
}
.newen1, .newen2, .newen3, .newen4, .newen5, .newen6, .newen7{
	height: 330px;
}
.subito1, .subito2, .subito3, .subito4, .subito5, .subito6, .subito7{
	height: 330px;
}
.grabado1, .grabado2, .grabado3, .grabado4, .grabado5, .grabado6, .grabado7{
	height: 330px;
}
.analoga1, .analoga2, .analoga3, .analoga4, .analoga5, .analoga6, .analoga7{
	height: 370px;
}
.paildad1, .paildad2, .paildad3, .paildad4, .paildad5, .paildad6, .paildad7{
	height: 350px;
}
.montevideo1, .montevideo2, .montevideo3, .montevideo4, .montevideo5, .montevideo6, .montevideo7, .montevideo8{
	height: 350px;
}
.ouro1, .ouro2, .ouro3, .ouro4, .ouro5, .ouro6, .ouro7, .ouro8{
	height: 350px;
	}
}
@media screen and (max-width: 1000px) and (min-width: 701px){
.menuescritorio1, .menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 70px;
    position: fixed;
}
.botton-menu3, .botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
margin-right: 50px;
line-height: 3em;

}
.menu li{
  visibility: none;
}
li{
 display: flex;
}
ul{
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    color: #B86F7C;		
	}
}
@media screen and (max-width: 2400px) and (min-width: 1001px){
 .newen1{
		height: 370px;
	}
	.menu ul{
    display: none;
	}
	.botton-menu{
	display: none;
}
.menuescritorio1, .menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 70px;
    position: fixed;
}
.botton-menu3, .botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
margin-right: 50px;
line-height: 3em;

}
.menu li{
  visibility: none;
}
		.ingrid-image{
		height: 430px;
		width: 100%;
		margin-top: 0px;
		background-repeat: no-repeat;

	}
	h1{
		margin-top: 15%;
	font-size: 130px;
   }
   .subtitle{
	font-size: 55px;
	}
	h6{
	    font-size: 26px;
	    margin-right: 30%;

	}
	h3{
	    font-size: 38px;
	    padding-top: 70px;

	}
	h2{
		font-size: 32px;
	}
	li{
 display: flex;
}
ul{
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    color: #B86F7C;

}
	.list-proyectos, .list-travesias,{
	line-height: 15em;
	width: 30%;
	display: inline;
	position: relative;
	padding-top: 10px;

}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 19em;
	width: 70%;
}
.title-asi:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-haiku:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-newen:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
 .title-subito:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
 .title-grabados:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-analoga:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
 .title-paildad:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-ouro:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-montevideo:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.column{
	
	width: 30%;
	float: left;
	margin-left: 20px;
	margin-top: 3%;
}
.column1{
	margin-top: 13%;
	width: 30%;
	float: right;
	margin-right: 40px;

}
.column2{
	margin-top: 13%;
	width: 30%;
	float: right;
	margin-right: 20px;	
}
.column3{
	margin-top: 13%;
	width: 55%;
	float: right;
	margin-right: 40px;
}
input{
	width: 100%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc,
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 20px;
	margin-bottom: 10px;
	position: left;
	margin-left: 0px;



}
textarea{
	width: 100%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	position: left;
	margin-left: 0px;
}
		.simple1, .simple2, .simple3, .simple4, .simple5, .simple6, .simple7{
	height: 330px;
}
.haiku1, .haiku2, .haiku3, .haiku4, .haiku5, .haiku6, .haiku7{
	height: 330px;
}
.newen1, .newen2, .newen3, .newen4, .newen5, .newen6, .newen7{
	height: 330px;
}
.subito1, .subito2, .subito3, .subito4, .subito5, .subito6, .subito7{
	height: 330px;
}
.grabado1, .grabado2, .grabado3, .grabado4, .grabado5, .grabado6, .grabado7{
	height: 330px;
}
.analoga1, .analoga2, .analoga3, .analoga4, .analoga5, .analoga6, .analoga7{
	height: 390px;
}
.paildad1, .paildad2, .paildad3, .paildad4, .paildad5, .paildad6, .paildad7{
	height: 350px;
}
.montevideo1, .montevideo2, .montevideo3, .montevideo4, .montevideo5, .montevideo6, .montevideo7, .montevideo8{
	height: 350px;
}
.ouro1, .ouro2, .ouro3, .ouro4, .ouro5, .ouro6, .ouro7, .ouro8{
	height: 350px;
	}
}
