*{
	box-sizing: border-box;
	margin: 0px
	padding:0px;
}
@media screen and (max-width: 375px){
.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
	.botton-menu3{
		display: none;
	}
	.menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 13px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 27px;
    position: fixed;
    position: center;
    text-transform: uppercase;
}
.botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
line-height: 3em;
padding-left: 12px;
padding-right: 12px;
float: center;
margin-left: 3px;
margin-right: 3px;

}
	.menuescritorio li{
 display: flex;
}
.menuescritorio ul{
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #B86F7C;
    margin: 0px;
    padding: 0px;
}
	.volver{
	float: right;
	top: 0px;
	margin-top: 0px;
	padding: 10px;
	padding-top: px;
	font-family:  Julius Sans One;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #EDC9C4;

}
	}
body{
	margin: 0px;
	padding:0px;
	
}
h1{
	font-family: Julius Sans One;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 42px;
	color: #DE8796;
	margin-bottom: 15px;
	position: center;

}
h2{
	font-family: Questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #7D4C54;
	margin-left: 15px;
	margin-right: 15px;
}
h3{
	margin-left: 15px;
	margin-top: 53px;
	font-family: Questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 30px;
	color: #DE8796;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
h4{
	position: center;
	font-family: questrial;
	font-size: 20px;
	color: #DE8796;
	text-decoration: none;
}
h5{
	margin-left: 15px;
	padding-top: 0px;
	margin-top: 1px;
	margin-right: 10%;
	font-family: Questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	color: #7D4C54;
}
h6{
	text-align: left;
	font-family: questrial;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 16px;
	color: #000000;
	margin-left: 15px;
	margin-right: 20%;
}
.menu ul{
top: 40%;
font-family: Questrial;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
display: inline;
color: #B86F7C;

}
.menu li{
 display: inline;
padding: 4px; 
 line-height: 0.7em; 
 position: center
}

.menu ul:hover{
  color:#B86F7C;
}


a{
	color:#B86F7C;
	text-decoration: none;
	display: block;
}
head{
margin: 0px;

}
.image-home{
	background:url();
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height:auto;
	top: 0px;
}
.title-container{
	padding-top: 40px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	float: center;

}
.subtitle{
	color: #7D4C54;
	font-family: Julius Sans One;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	float: center;
	text-align: center;	

}
.menu {
	margin-top: 30px;
display: inline;
line-height: 1.2em;
text-align: center;
width: 70%;

}
.botton-menu{
	background-color: #EDC9C4;
	padding: 25px;
	margin-right: 10%;
	margin-left: 10%;
	height: 25px;
	position: center;
	width: 70%;

}
.list-proyectos, .list-travesias,{
	margin-top: 80px;
	text-align: center;
	line-height: 8em;

}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	background-color: rgba(0, 0, 0, 0.4);
	color: #B86F7C;
	text-align: center;
	line-height: 8em;

}
.asi-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994198_10213774932550652_5434648278783293631_n.jpg?oh=32e7ddf8a3a75fb78ff1904b8b784dbe&oe=5A2A6642);
	width: 100%;
	background-size: cover;
	height: auto;

}
.haiku-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953839_10213774919790333_9200607659342141237_n.jpg?oh=63005f6e1791992c961c1e464feb54ca&oe=5A274E2A);
	width: 100%;
	background-size: cover;
	height: auto;
}
.newen-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953600_10213775321640379_6915052282777723774_n.jpg?oh=2ba974e0841aed365567ed9799c8fddf&oe=5A35C982);
	width: 100%;
	background-size: cover;
	height: auto;
}
.subito-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032796_10213774897589778_5738118018095220410_n.jpg?oh=8603c6f975463ecb7cca84046a11c5b9&oe=5A262E38);
	width: 100%;
	background-size: cover;
	height: auto;
}
.grabados-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21034493_10213774929710581_4567937765690830461_n.jpg?oh=0e936311ed1c6c7b2d65dd7b4b018bfa&oe=5A1A94A4);
	width: 100%;
	background-size: cover;
	height: auto;
}
.analoga-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032750_10213775334200693_7850474292253100578_n.jpg?oh=c345c153734deaea789a602e5b6a71bc&oe=5A132A60);
	width: 100%;
	background-size: cover;
	height: auto;
}
.paildad-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/10345934_10205235197701112_8096614694907403310_n.jpg?oh=ffd3b5c6349116f949dab52cf031d2e7&oe=5A1FDFB5);
	width: 100%;
	background-size: cover;
	height: auto;
}
.ouro-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/960027_10207549154540519_6739076151140886996_n.jpg?oh=695e877dbde49800005994bf1a7b3160&oe=5A281C62);
	width: 100%;
	background-size: cover;
	height: auto;
}
.montevideo-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15193431_10210126499372529_2317297922810000202_n.jpg?oh=532a19a1c3d2f822ab414a30646c5a27&oe=5A1B7256);
	width: 100%;
	background-size: cover;
	height: auto;
}
.ingrid-image{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21106763_10213798457138752_6072543010939754965_n.jpg?oh=04ca170e51729ca308ff0ad4cac2f2cb&oe=5A20DB4D);
	width: 100%;
	background-size: cover;
	height: 200px;
}
.simple1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032320_10213774924910461_6093986045896479742_n.jpg?oh=78723b209e0833596d0532f0790d2eb8&oe=5A18B449);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20992741_10213774926470500_5069752858172583258_n.jpg?oh=0cd7bfd36f624ced8abc5ddff46534d4&oe=5A2C0425);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994201_10213774936150742_8117406819151469464_n.jpg?oh=15ccab988f8b67f47c2c5534110d0880&oe=5A143A2F);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20992606_10213774929830584_8831450398561399498_n.jpg?oh=9c73d52d671a32f743cf6098447f5b3f&oe=5A29FEDD);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994198_10213774932550652_5434648278783293631_n.jpg?oh=32e7ddf8a3a75fb78ff1904b8b784dbe&oe=5A2A6642);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953310_10213774935910736_4262095189418294492_n.jpg?oh=0938132db3d97943faae54ca7033da8e&oe=5A2088A7);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.simple7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21078550_10213774934550702_7532533159176871908_n.jpg?oh=c6b74c697ffd73e5fdc40c138b78796e&oe=5A5EE935);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032410_10213774906229994_1924963068745947425_n.jpg?oh=c0980318c6ecfb4d4790d52588b5f979&oe=5A1A3CC4);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21034500_10213774909950087_1302890956387854068_n.jpg?oh=cd2824f695fb6cece298cd713973a70c&oe=5A5C92E4);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21106459_10213774908590053_5051147113975266186_n.jpg?oh=298d8e3cf4f0d5454cfdf4512f310cbc&oe=5A2D3299);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21105435_10213774915910236_7085785062835936371_n.jpg?oh=9d5578c9ed920f4e6c5a6b99a147f050&oe=5A5CC866);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20993966_10213774921990388_5709857705407428701_n.jpg?oh=a2b365771e0470afe400d161baccc480&oe=5A18880C);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953771_10213774921750382_2528408337223120345_n.jpg?oh=aaab63aa478c57617519283dde2bcb8f&oe=5A20EFC9);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.haiku7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994035_10213774903069915_2142054584499011532_n.jpg?oh=7f2de5fe602be1a77cdf849248d5b4a6&oe=5A23C44B);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.newen1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21078291_10213775319160317_4966949677832729055_n.jpg?oh=0ef6cf95a07824604df01c5d490b1892&oe=5A28BC43);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.newen2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953336_10213775322320396_1089721061736923478_n.jpg?oh=583822db33140791191bca0be3c8cc97&oe=5A1A5903);
	width: 100%;
	background-size: cover;
	height: 180px;
	margin-bottom: 5px;
}
.newen3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994094_10213775322880410_7363276319882182644_n.jpg?oh=0b79f3f70a48da85671b86d4eab568d6&oe=5A5FBF69);
	width: 100%;
	background-size: cover;
	height: 180px;
	margin-bottom: 5px;
	float: center
}
.newen4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953354_10213775321600378_8164511272070677947_n.jpg?oh=4a5b52020b293f8cec5372f93d3b0813&oe=5A2D6C62);
	width: 100%;
	background-size: cover;
	height: 180px;
	margin-bottom: 5px;
}
.subito1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/r270/20992809_10213774895829734_2609442739039813306_n.jpg?oh=d6503ee43776be2cbeed9d052529f80b&oe=5A19EEEC);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953448_10213774908190043_6179453067700729511_n.jpg?oh=21ddeded880dbc6ccfb82c24d205a8b2&oe=5A60FFFD);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953996_10213774899389823_8702892486861672060_n.jpg?oh=1aee810d0f0e0337d720710ceba9dd39&oe=5A276B75);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21034526_10213774895869735_3198280335328380555_n.jpg?oh=cb3a78babfd41768bb028ad34e3af3bb&oe=5A30A67B);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21078284_10213774898429799_1484246461527117257_n.jpg?oh=61c0fcc432688a0bed479d722953e48a&oe=5A142259);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032796_10213774897589778_5738118018095220410_n.jpg?oh=8603c6f975463ecb7cca84046a11c5b9&oe=5A262E38);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.subito7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032536_10213774908310046_374935122525626810_n.jpg?oh=8a50ca51f3ec58461a7b54c7058a74aa&oe=5A149804);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953578_10213774938910811_4863585395635795992_n.jpg?oh=620b78a73ec1d061d62648d7cfca1b97&oe=5A2C4D50);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994088_10213774937430774_3649739948173721120_n.jpg?oh=d37b51b702cbc1bf0184522edf4aec02&oe=5A1EC0E8);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20992741_10213774927950537_2597513944335400769_n.jpg?oh=0be5d70ecb50ce711ea0e1e9011c1325&oe=5A182B2C);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21034493_10213774929710581_4567937765690830461_n.jpg?oh=0e936311ed1c6c7b2d65dd7b4b018bfa&oe=5A1A94A4);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21077432_10213774938950812_834233810734561566_n.jpg?oh=373da63434096dd257986cdda5d3a581&oe=5A294666);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953785_10213774938790808_7324091771009544374_n.jpg?oh=5a5d7ee1e7fcf000f6f77eb31e453894&oe=5A5BD077);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.grabado7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20953575_10213774939310821_5745942370894087593_n.jpg?oh=ae154108354e25e32bae418e123484da&oe=5A1A7827);
	width: 100%;
	background-size: cover;
	height: 250px;
	margin-bottom: 5px;
}
.analoga1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21034355_10213798456498736_842217967535499633_n.jpg?oh=670730c51f80dc2d787948dd8c5bec44&oe=5A274F87);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994334_10213798450178578_630666658069251407_n.jpg?oh=01f4bf29c4337230a77cdf2748a54fe8&oe=5A27EE1D);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994051_10213775331080615_4633500564298790788_n.jpg?oh=0fcd7190a7ebcbe524459f1210dd96d3&oe=5A1CF2FA);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20994221_10213775334120691_4122462272690222046_n.jpg?oh=173ac82c9d15b3740d70e9cdf70ce063&oe=5A303C3C);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032750_10213775334200693_7850474292253100578_n.jpg?oh=c345c153734deaea789a602e5b6a71bc&oe=5A132A60);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21032516_10213775332280645_2977598398915319358_n.jpg?oh=dc98b60df563123ff2ce27effb76cd79&oe=5A20131B);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.analoga7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/20952981_10213775341240869_4500924155212717127_n.jpg?oh=aca8b19fe74b3c614951e2f5e321dc48&oe=5A274276);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/10257954_10152689841854193_8468782868997305323_n.jpg?oh=6584400a0203696f378f9734875dbbee&oe=5A5FBC6D);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/10603749_10152689842319193_4102417346596445027_n.jpg?oh=cdcb0034522a8125388beee01c570835&oe=5A5C13F0);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/9478_10152689893994193_5200210476336852843_n.jpg?oh=beeb69cb6cbf38b867ebf8f2b9b6a13e&oe=5A60A36B);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/10384449_10152689895644193_340358733239242262_n.jpg?oh=58823c3efc40445292b63c7cbbe56b75&oe=5A192217);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/10345934_10205235197701112_8096614694907403310_n.jpg?oh=ffd3b5c6349116f949dab52cf031d2e7&oe=5A1FDFB5);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/1502501_10152689895789193_315405687556097030_n.jpg?oh=8629321e378015bbb7adc71570490e08&oe=5A5AFE85);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.paildad7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/10689659_10152689895864193_7018963660239698338_n.jpg?oh=216309ec9a291e844221265a456b4c9b&oe=5A1B49DA);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo1{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15134526_10154851258229604_1438037415446594338_n.jpg?oh=31ae1d5b2732188b6ee5279939d3c32c&oe=5A5CA227);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo2{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15079082_10154852476604604_6689479181624177024_n.jpg?oh=c0335ea45bd420ca6d6ab101dcf17d34&oe=5A2A0414);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo3{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15181611_10154852484639604_786722256087364219_n.jpg?oh=def665fe8a796232fa597978d4b83400&oe=5A2F4616);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo4{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15109588_10154852485404604_4165441870863375192_n.jpg?oh=58f9c2374addc1b629af18b572d8843d&oe=5A318E88);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo5{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15078795_10154852485614604_7410503837603547894_n.jpg?oh=e2f65eb64d425329088abde386aa3e9c&oe=5A28866C);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo6{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15107259_10154852542914604_2403596549753797840_n.jpg?oh=cf55fc72eeb2dd94f67b08a08b40a8f3&oe=5A5F5D22);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo7{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15055824_10211340201481355_2443945758186155347_n.jpg?oh=aaa4741e26b062ebe024fb547e296ded&oe=5A1AD975);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.montevideo8{
    background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/15170745_10211340220841839_6294316714673198949_n.jpg?oh=b8e2f68aaf9e16ccae93e1f28f29de61&oe=5A6068E1);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro1{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/12299354_10153762625544664_6428031896022009259_n.jpg?oh=26d6fbdebaf439b98eef3ee8ae42c756&oe=5A31E3B2);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro2{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/12346311_10153762710029664_846602174768241192_n.jpg?oh=0285dc7d97815c55f5a9fe30638041ff&oe=5A24F876);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro3{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21149989_10213808277744261_9170426709914913344_n.jpg?oh=257d428b020eda063ffcb0f6a2dd6991&oe=5A27AFA0);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro4{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/11202443_10153762744774664_7850082142681128887_n.jpg?oh=029da440ddec21cd6c9fe1d7adefcc7f&oe=5A2FF225);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro5{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21034403_10213808276264224_5902264029700688738_n.jpg?oh=742b1bea9b68ce6742bd391896cb3f1e&oe=5A1E5A9E);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro6{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21078310_10213808276024218_2509257993394073525_n.jpg?oh=8fdb7d5864dcd9cc277a1627873d1673&oe=5A295608);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro7{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/21105533_10213808276344226_3850400717647829685_n.jpg?oh=f66bad34d6ce751900b2381de35c531e&oe=5A2F4FBB);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
.ouro8{
	background: url(https://scontent.fscl11-1.fna.fbcdn.net/v/t1.0-9/12316530_10207762255752618_8617375992023540148_n.jpg?oh=7c5df79062b32f391318492b152ec9f7&oe=5A1B2CD7);
	width: 100%;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;
}
input{
	width: 80%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc,
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 20px;
	margin-bottom: 10px;
	position: center;
	margin-left: 15px;


}
textarea{
	width: 80%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	position: center;
	margin-left: 15px;
}
.respuesta{
	width: 70%;
	font-family: questrial;
	font-size: 30px;
	text-align: center;
	color: #DE8796;
}
.respuesta1{
	width: 70%;
	font-family: questrial;
	font-size: 24px;
	text-align: center;
	color: #DE8796;
}

@media screen and (max-width: 500px) and (min-width: 376px){
.menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 13px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 35px;
    position: fixed;
    position: center;
    text-transform: uppercase;
}
.botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
line-height: 3em;
padding-left: 4px;
padding-right: 4px;
float: center;
margin-left: 10px;
margin-right: 10px;
text-align: center;

}
	.menuescritorio li{
 display: flex;
 text-align: center;
}
.menuescritorio ul{
	text-align: center;
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #B86F7C;
    margin: 0px;
    padding: 0px;
}
.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
.image-home{
	background-position: center;
	background-repeat: no-repeat;
	width: auto;
	height:auto;
	top: 0px;
}
h1{
	font-size: 50px;
}
.subtitle{
	font-size: 26px;
	}
ul{
top: 45%;
font-size: 20px;
}
.newen1{
	height: 270px;
	margin-bottom: 5px;
}
.newen2, .newen3, .newen4{
	height: 230px;
	margin-bottom: 5px;
}
.analoga1, .analoga2, .analoga3, .analoga4, .analoga5, .analoga6, .analoga7{
	height: 240px;
	margin-bottom: 5px;
}

.paildad1, .paildad2, .paildad3, .paildad4, .paildad5, .paildad6, .paildad7{
	height: 240px;
	margin-bottom: 5px;
}
.montevideo1, .montevideo2, .montevideo3, .montevideo4, .montevideo5, .montevideo6, .montevideo7, .montevideo8{
	height: 240px;
	margin-bottom: 5px;
}
.ouro1, .ouro2, .ouro3, .ouro4, .ouro5, .ouro6, .ouro7, .ouro8{
	height: 240px;
	margin-bottom: 5px;
}
.ingrid-image{
	height: 280px;
}
.list-proyectos, .list-travesias,{
	line-height: 8.5em;
}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 8.5em;
}
}
@media screen and (max-width: 700px) and (min-width: 501px){
.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
.menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 15px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 35px;
    position: fixed;
    position: center;
    text-transform: uppercase;
}
.botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
line-height: 3em;
padding-left: 9px;
padding-right: 9px;
float: center;
margin-left: 10px;
margin-right: 10px;
text-align: center;

}
	.menuescritorio li{
 display: flex;
 text-align: center;
}
.menuescritorio ul{
	text-align: center;
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    color: #B86F7C;
    margin: 0px;
    padding: 0px;
}
.simple1, .simple2, .simple3, .simple4, .simple5, .simple6, .simple7{
	height: 330px;
}
.haiku1, .haiku2, .haiku3, .haiku4, .haiku5, .haiku6, .haiku7{
	height: 330px;
}
.newen1, .newen2, .newen3, .newen4, .newen5, .newen6, .newen7{
	height: 330px;
}
.subito1, .subito2, .subito3, .subito4, .subito5, .subito6, .subito7{
	height: 330px;
}
.grabado1, .grabado2, .grabado3, .grabado4, .grabado5, .grabado6, .grabado7{
	height: 330px;
}
.analoga1, .analoga2, .analoga3, .analoga4, .analoga5, .analoga6, .analoga7{
	height: 350px;
}
.paildad1, .paildad2, .paildad3, .paildad4, .paildad5, .paildad6, .paildad7{
	height: 350px;
}
.montevideo1, .montevideo2, .montevideo3, .montevideo4, .montevideo5, .montevideo6, .montevideo7, .montevideo8{
	height: 350px;
}
.ouro1, .ouro2, .ouro3, .ouro4, .ouro5, .ouro6, .ouro7, .ouro8{
	height: 350px;
}
.ingrid-image{
		height: 380px;
		width: 100%;
	}
	h1{
	font-size: 58px;
}
.subtitle{
	font-size: 29px;
	}
	h3{
		margin-left: 20px;
}
h2{
	font-size: 26px;
	margin-left: 20px;
	margin-right: 20px;
}
h6{
	margin-right: 35%;
}
ul{
	font-size: 25px;
}
.list-proyectos, .list-travesias,{
	line-height: 11em;
}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 11em;
}
}
@media screen and (max-width: 1000px) and (min-width: 701px){
	body{
		margin-right: 5%
		margin-left: 5%;
		margin-top: 15%;
	}

.menuescritorio1{
	display: none;
}
.botton-menu3 li{
	display: none;
}
.botton-menu3 ul{
	display: none;
	}
	.newen1{
		height: 370px;
	}
	.newen2, .newen3, .newen4{
		height: 200px;
	}
		.ingrid-image{
		height: 430px;
		width: 100%;
		margin-top: 20px;
	}
h1{
	font-size: 65px;
}
.subtitle{
	font-size: 35px;
	}
	h6{
	    font-size: 22px;

	}
	h3{
	    font-size: 38px;

	}
	h2{
		font-size: 36x;
	}
	ul{
	font-size: 35px;
}
	.list-proyectos, .list-travesias,{
	line-height: 13em;
	width: 40%;
	display: inline;
	position: relative;

}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 13em;
	width: 100%;
}
.column1{
	width: 47%;
	float: left;
	margin-left: 15px;

}
.column2{
	width: 47%;
	float: right;
	margin-right: 15px;
}
.column3{
	margin-left: 20px;
	margin-right: 20px;
}
}
@media screen and (max-width: 1000px) and (min-width: 701px){
.menuescritorio1, .menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 70px;
    position: fixed;
}
.botton-menu3, .botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
margin-right: 50px;
line-height: 3em;

}
.menu li{
  visibility: none;
}
li{
 display: flex;
}
ul{
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    color: #B86F7C;		
	}
}
@media screen and (max-width: 2400px) and (min-width: 1001px){
 .newen1{
		height: 370px;
	}
	.menu ul{
    display: none;
	}
	.botton-menu{
	display: none;
}
.menuescritorio1, .menuescritorio{
	visibility: visible;
	top: 0px;
	margin: 0px;
	width: 100%;
	font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    color: #B86F7C;
    background-color: #ffffff;
    height: 70px;
    position: fixed;
}
.botton-menu3, .botton-menu2{
	margin-top: 0px;
background-color: #ffffff;
margin-right: 50px;
line-height: 3em;

}
.menu li{
  visibility: none;
}
		.ingrid-image{
		height: 430px;
		width: 100%;
		margin-top: 0px;
		background-repeat: no-repeat;

	}
	h1{
		margin-top: 15%;
	font-size: 95px;
   }
   .subtitle{
	font-size: 55px;
	}
	h6{
	    font-size: 26px;
	    margin-right: 30%;

	}
	h3{
	    font-size: 38px;
	    padding-top: 70px;

	}
	h2{
		font-size: 32px;
	}
	li{
 display: flex;
}
ul{
	 display: flex;
	 font-family: questrial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    color: #B86F7C;

}
	.list-proyectos, .list-travesias,{
	line-height: 15em;
	width: 30%;
	display: inline;
	position: relative;
	padding-top: 10px;

}
.title-asi, .title-haiku, .title-newen, .title-subito, .title-grabados, .title-analoga, .title-paildad, .title-ouro, .title-montevideo{
	line-height: 19em;
	width: 70%;
}
.title-asi:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-haiku:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-newen:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
 .title-subito:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
 .title-grabados:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-analoga:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
 .title-paildad:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-ouro:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.title-montevideo:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #B86F7C;
	width: 100%;
    }
.column{
	
	width: 30%;
	float: left;
	margin-left: 20px;
	margin-top: 3%;
}
.column1{
	margin-top: 13%;
	width: 30%;
	float: right;
	margin-right: 40px;

}
.column2{
	margin-top: 13%;
	width: 30%;
	float: right;
	margin-right: 20px;	
}
.column3{
	margin-top: 13%;
	width: 55%;
	float: right;
	margin-right: 40px;
}
input{
	width: 100%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc,
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 20px;
	margin-bottom: 10px;
	position: left;
	margin-left: 0px;



}
textarea{
	width: 100%;
	height: 30px;
	padding: 12px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #FFF2E9;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	position: left;
	margin-left: 0px;
}
}
